<div class="relative bg-gray-500 w-full h-[542px] flex flex-col justify-center">
  <img src="../../../../../assets/imgs/atardecer.jpg" class="absolute inset-0 w-full h-full object-cover opacity-90" alt="otros-servicios">
  <div class="relative z-10 text-white pl-28 flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold text-white mb-4">¡Estamos trabajando en ello!</h1>
    <p class="text-white w-[40rem] text-lg text-center">El servicio de alquiler de combi para transporte turístico estará disponible muy pronto. Estamos trabajando arduamente para ofrecerte el mejor servicio.</p>
    <p class="text-white mt-2 text-lg">¡Vuelve pronto para más actualizaciones!</p>
  </div>
</div>
