
  <!--pORTADA-->
<div class="bg-gray-500 w-full h-[539px] flex flex-col justify-center">
  <p class="text-7xl pl-28 pb-1 font-bold">Reserva tu habitación</p>
</div>

<div class=" py-8 flex flex-col items-center">
  <div class="border-2 border-black rounded-md flex flex-row justify-center items-center gap-20 w-auto py-5 px-36">
    <img class="w-20" src="../../../../../assets/imgs/reminder_7465813.png" alt="iconreserva">

    <div>
      <p class="text-center text-sm">DESCUBRE EL PODER DE LAS RESERVAS ONLINE</p>
      <p class="text-center text-xs">Asegura tu habitación en Oasis Andino y disfruta de Pomabamba</p>
    </div>
  </div>
</div>

<div class="my-6 pb-10">
  <p class="text-3xl font-bold">Comprobar disponibilidad</p>

  <div class="flex flex-row justify-center items-center mt-14 w-auto">
    <div class=" flex flex-row justify-center items-center gap-40">
      <div>
        <label for="fecha" class="block text-sm font-semibold mb-1">Selecciona una fecha de inicio:</label>
        <input type="date" id="fecha" name="fecha" class="border border-gray-300 p-2 rounded-md">
      </div>

      <div>
        <label for="fecha" class="block text-sm font-semibold mb-1">Selecciona una fecha de fin:</label>
        <input type="date" id="fecha" name="fecha" class="border border-gray-300 p-2 rounded-md">
      </div>
    </div>

    <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700 h-9 ml-44"  (click)="buscarDisponibilidad()">Buscar</button>
  </div>

</div>

<div *ngIf="rooms().length > 0" class="container mx-auto grid grid-cols-1 place-items-center mt-8 gap-4">
  <p class="text-3xl font-semibold">Habitaciones disponibles</p>
  <app-room *ngFor="let room of rooms()" [room]="room"></app-room>
</div>

<!--
<p>reservation</p>
<div class="container mx-auto grid grid-cols-4">
  <app-room *ngFor="let room of rooms()" [room]="room"></app-room>
</div>
-->

