
<div>

  <!--pORTADA-->
  <div class="bg-gray-500 w-full h-[539px] flex flex-col justify-center">
    <p class="text-7xl pl-28 pb-1 font-bold">Hostal Oasis Andino</p>
    <button type="button" class="bg-gray-950 text-white w-36 h-11 ml-36 rounded-lg shadow-lg pt-1">
      Reservar ahora
    </button>
  </div>

  <!--NOSOTROS-->
  <div class="flex flex-col items-center h-auto mt-4" id="nosotros">
    <p
      class="mt-6 xs:text-2xl sm:text-2xl md:text-3xl lg:text-3xl font-dancing  text-center mb-6 xs:w-[20rem] sm:w-[28rem] md:w-[32rem] lg:w-[35rem] dark:text-white">
      Vive la experiencia única de Pomabamba a través de
      Oasis Andino.</p>

    <div class="flex lg:flex-row md:flex-row xs:flex-col sm:flex-col items-center justify-center mb-8 gap-4">
      <!--DESKTOP-->
      <img class="md:w-[22rem] md:h-60 lg:w-[25rem] lg:h-64 rounded-lg hidden md:block" src="./../../../../../assets/imgs/pmbb.jpg"
        alt="img pomabamba">
      <!--CELULAR-->
      <img class="xs:w-[16rem] xs:h-16 sm:w-[18rem] sm:h-20 rounded-lg block md:hidden" src="./../../../../../assets/imgs/f1.jpg"
        alt="img pomabamba">

      <div class="flex flex-col justify-center items-center w-auto">
        <p class="xs:text-sm md:text-base lg:text-lg  text-black font-bold mb-3 dark:text-white">Descubre nuestra
          esencia</p>

        <p
          class="text-center xs:w-[20rem] sm:w-[24rem] md:w-[27rem] lg:w-[30rem] xs:text-sm md:text-base lg:text-lg mb-3 px-4 dark:text-white">
          Somos una familia de la ciudad de Pomabamba, dedicada
          a brindarte una experiencia única en los Andes. Con años de experiencia,
          ofrecemos un servicio personalizado y cómodas habitaciones con todas las
          comodidades necesarias. Además, nuestra ubicación te permite explorar la
          belleza natural de la región. Al hospedarte con nosotros,
          disfrutas de la hospitalidad de los Andes. </p>

        <p class="xs:text-sm md:text-base lg:text-lg font-semibold dark:text-white">¡Esperamos recibirte pronto!</p>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center my-5">
    <p class="font-dancing text-3xl font-bold">Servicios principales</p>
    <div class="flex flex-row space-x-4 p-4">
      <!--CARD1-->
      <div class="flex-1 p-4 flex flex-col items-center gap-3">
        <div class="font-bold text-base text-center">Habitaciones confortables</div>
        <div class="bg-gray-500 w-32 h-32 rounded-full"></div>
        <div  class="text-xs w-[13rem] text-center">Disfruta de habitaciones diseñadas para tu comodidad, equipadas con todo lo necesario para una estancia agradable.</div>
      </div>
      <!--CARD2-->
      <div class="flex-1 p-4 flex flex-col items-center gap-3">
        <div class="font-bold text-base text-center">Transporte Turístico</div>
        <div class="bg-gray-500 w-32 h-32 rounded-full"></div>
        <div class="text-xs w-[13rem] text-center">Ofrecemos un servicio de alquiler de combi para que puedas explorar los lugares turísticos de Pomabamba cómodamente y a tu propio ritmo.</div>
      </div>
      <!--CARD3-->
      <div class="flex-1 p-4 flex flex-col items-center gap-3">
        <div class="font-bold text-base text-center">Ubicación Ideal</div>
        <div class="bg-gray-500 w-32 h-32 rounded-full"></div>
        <div class="text-xs w-[13rem] text-center"> Ubicado cerca de la Plaza de Armas de Pomabamba, permitiendo fácil acceso a los principales atractivos y servicios de la ciudad.</div>
      </div>
      <!--CARD4-->
      <div class="flex-1 p-4 flex flex-col items-center gap-3">
        <div class="font-bold text-base text-center">Atención Personalizada</div>
        <div class="bg-gray-500 w-32 h-32 rounded-full"></div>
        <div class="text-xs w-[13rem] text-center">Nuestro personal está siempre dispuesto a ayudarte y ofrecerte un servicio personalizado para que te sientas como en casa durante tu estancia.</div>
      </div>
    </div>
  </div>

  <div class="bg-gray-400 flex flex-col items-center">

    <div class="flex flex-row gap-8 pt-8">
      <div class="flex flex-col items-center gap-3">
        <div class="flex flex-row justify-center gap-5">
          <img class="w-10 h-10" src="../../../../../assets/imgs/whatsapp_3536445.png" alt="wtspp">
          <img class="w-10 h-10" src="../../../../../assets/imgs/facebook_2504903.png" alt="fb">
          <img class="w-10 h-10" src="../../../../../assets/imgs/instagram_2111463.png" alt="inst">
        </div>
        <img class="w-28 h-28" src="../../../../../assets/imgs/Favicon.png" alt="">
        <div class="text-center">
          <p class="font-semibold text-sm underline">Whatsapp:</p>
          <p class="text-sm">+51 916 938 698</p>
        </div>
        <div class="text-center">
          <p class="font-semibold text-sm underline">Correo:</p>
          <p class="text-sm">hostaloasisandinogmail.com</p>
        </div>
      </div>

      <img class="w-[35rem] h-[20rem]" src="../../../../../assets/imgs/mapa.png" alt="">
    </div>

    <div class="text-center mt-6 text-sm">2024 Oasis Andino All Rights Reserved</div>
  </div>

</div>

