 <!--pORTADA-->
<div class="relative bg-gray-500 w-full h-[539px] flex flex-col justify-center">
  <img src="../../../../../assets/imgs/pmbb-portada.JPG" class="absolute inset-0 w-full h-full object-cover opacity-100" alt="Portada">
  <div class="relative z-10 text-white md:pl-28 lg:pl-28 pt-56 sm:pt-48 md:pt-0 lg:pt-0">
    <p class="text-5xl md:text-7xl pt-36 font-bold">Descubre Pomabamba</p>
  </div>
</div>

<!--Datos Generales-->
<div class=" flex flex-row justify-center items-center pt-24 pb-10 gap-14 ">
  <div class="w-[40rem] h-auto">
    <p class="font-dancing text-[34px] sm:text-[34px] md:text-[40px] lg:text-[50px] font-bold text-default text-center sm:text-center md:text-left lg:text-left">Datos Generales</p>

    <div class="text-sm sm:text-sm md:text-[15px] lg:text-[20px] px-2 sm:px-3 md:px-0 lg:px-0">
      <p>Ubicación: Sierra norte del Perú, en la región de Ancash</p>
      <p>Extensión: 634 km²</p>
      <p>Capital: Pomabamba (3150 msnm)</p>
      <p>Altitud: mínima: 3000 msnm, máxima: 5000 msnm (Nevado de Paccharuri)</p>
      <p>Clima: Pomabamba cuenta con un clima templado y húmedo, con temperaturas
        medias anuales que oscilan entre los 12°C (53.6°F) y 18°C (64.4°F).
        La temporada de lluvias se extiende de noviembre a marzo.</p>
    </div>
  </div>

  <img class="w-[300px] h-[350px] rounded-lg hidden md:block " src="../../../../../assets/imgs/cedro-letras.jpg" alt="datos-generales">
</div>


<!--Cómo llegar-->
<div class=" flex flex-row justify-center items-center py-14 gap-14">
  <div class="w-[40rem] h-auto">
    <p class="font-dancing text-[34px] sm:text-[34px] md:text-[40px] lg:text-[50px] font-bold  text-default text-center sm:text-center md:text-left lg:text-left">Cómo llegar</p>

    <div class="text-sm sm:text-sm md:text-[15px] lg:text-[20px] px-2 sm:px-3 md:px-0 lg:px-0">
      <p>Ubicación: Sierra norte del Perú, en la región de Ancash</p>
      <p>Extensión: 634 km²</p>
      <p>Capital: Pomabamba (3150 msnm)</p>
      <p>Altitud: mínima: 3000 msnm, máxima: 5000 msnm (Nevado de Paccharuri)</p>
      <p>Clima: Pomabamba cuenta con un clima templado y húmedo, con temperaturas
        medias anuales que oscilan entre los 12°C (53.6°F) y 18°C (64.4°F).
        La temporada de lluvias se extiende de noviembre a marzo.</p>
    </div>
  </div>

  <img class="w-[300px] h-[350px] rounded-lg hidden md:block" src="../../../../../assets/imgs/ejemplo.jpg" alt="datos-generales">
</div>


<!--Reseña histórica-->
<div class=" flex flex-row items-center justify-center py-14 gap-20">
  <div class="w-auto sm:w-auto md:w-[40rem] lg:w-[40rem] h-auto flex flex-col justify-center items-center   mx-5">
    <p class="font-dancing text-[34px] sm:text-[34px] md:text-[40px] lg:text-[50px] font-bold  text-default text-center sm:text-center md:text-left lg:text-left">Reseña histórica</p>

    <div class=" text-sm sm:text-sm md:text-[15px] lg:text-[20px] px-2 sm:px-3 md:px-0 lg:px-0">
      <p class="w-full text-justify">Pomabamba, ubicada en el departamento de Áncash, Perú, es una ciudad con una rica
          historia que se remonta a tiempos prehispánicos. Su nombre, derivado del quechua "Puma Pampa"
          que significa "llanura de pumas", refleja la fauna que habitaba la región.</p>

      <p class=" w-full font-medium">Época Prehispánica</p>
      <p class=" w-full text-justify">Antes de la llegada de los españoles, Pomabamba estaba habitada por comunidades
        indígenas que formaban parte del Imperio Inca. Estos habitantes desarrollaron técnicas agrícolas
          avanzadas y dejaron su huella con impresionantes restos arqueológicos.</p>
      <p class=" w-full font-medium">Conquista y Fundación</p>
      <p class=" w-full text-justify">Con la conquista española en el siglo XVI, Pomabamba fue fundada oficialmente en 1539.
          Durante el periodo colonial, la ciudad se convirtió en un importante centro administrativo, cultural y religioso.</p>
      <p class=" w-full font-medium">Independencia</p>
      <p class=" w-full text-justify">Pomabamba jugó un papel significativo durante la lucha por la independencia del Perú en el siglo XIX,
        siendo escenario de varios conflictos entre patriotas y realistas. Con la independencia en 1821, la ciudad comenzó a
        formar parte de la nueva república.</p>
      <p class=" w-full font-medium">Siglo XX y Modernidad</p>
      <p class=" w-full text-justify">El siglo XX trajo consigo mejoras en infraestructura y transporte, conectando mejor a Pomabamba con otras
          regiones y facilitando el comercio y el turismo. Hoy en día, la ciudad es conocida por sus paisajes andinos, aguas termales y festividades tradicionales.</p>
      <p class=" w-full text-justify">Pomabamba es un lugar de impresionante belleza natural y riqueza histórica, ofreciendo a sus visitantes una ventana a su fascinante pasado y vibrante presente.</p>
    </div>
  </div>

  <div *ngIf="mostrarSeccion" class="flex flex-col gap-6" >
    <img class="w-[300px] h-[350px] rounded-lg" src="../../../../../assets/imgs/puma.jpg" alt="datos-generales">
    <img class="w-[300px] h-[350px] rounded-lg " src="../../../../../assets/imgs/chimaychipintura.jpg" alt="datos-generales">
  </div>

</div>



<!--Actividades Culturales-->
<div class="py-14 ">
  <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row justify-center items-center gap-3 sm:gap-3 md:gap-40 lg:gap-48">
    <p class="font-dancing text-[34px] sm:text-[34px] md:text-[40px] lg:text-[50px] font-bold  text-default text-center sm:text-center md:text-left lg:text-left">Actividades Culturales</p>
    <p class="w-[17rem] sm:w-[17rem] md:w-[27rem] lg:w-[27rem] text-center text-xs sm:text-xs md:text-sm lg:text-sm font-light">Pomabamba es un crisol de tradiciones y festividades que reflejan la riqueza cultural de sus habitantes.
      Una oportunidad para conectarse con la historia y las costumbres de esta encantadora ciudad andina. </p>
  </div>

  <!--CARDS-->
  <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row items-center justify-center gap-7 sm:gap-7 md:gap-5 lg:gap-5 mt-8">
    <div class="w-[280px] h-[422px]  border border-gray-200 rounded-lg shadow-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg " src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Fiestas Patronales</p>
      <p class="text-justify text-sm px-4">Celebradas en junio, estas fiestas honran al patrón de la ciudad con una serie de actividades religiosas,
        procesiones, y eventos sociales.
        Es una época en la que la comunidad se reúne para rendir homenaje y celebrar con alegría y devoción.</p>
    </div>

    <div class="w-[280px] h-[422px]  border border-gray-200 rounded-lg shadow-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold"> Carnaval Pomabambino</p>
      <p class="text-justify text-sm px-4">Esta festividad, celebrada en febrero, es una de las más coloridas y animadas. Incluye desfiles, comparsas,
        danzas tradicionales y la emblemática yunza, donde los participantes disfrutan de música y baile alrededor de un árbol decorado.</p>
    </div>

    <div class="w-[280px] h-[422px]  border border-gray-200 rounded-lg shadow-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Semana Turística de Pomabamba</p>
      <p class="text-justify text-sm px-4">Celebrada en julio, esta semana resalta las riquezas turísticas y culturales de la región. Incluye ferias gastronómicas,
          exposiciones artesanales, y eventos deportivos y recreativos que invitan a los visitantes a conocer más sobre Pomabamba.</p>
    </div>

    <div class="w-[280px] h-[422px]  border border-gray-200 rounded-lg shadow-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Tejido y teñido</p>
      <p class="text-justify text-sm px-4">Desde hace cientos de años en los andes se han teñido, tejido o hilado hermosas lanas de alpaca
        y posteriormente de oveja, Los tintes son de plantas e insectos de la zona, todo un arte para dar
        esos colores brillantes.</p>
    </div>

  </div>




</div>


<!--Lugares turísticos-->

<div *ngIf="mostrarSeccion" class="py-14">
  <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row justify-center items-center gap-3 sm:gap-3 md:gap-40 lg:gap-48">
    <p class="font-dancing text-[34px] sm:text-[34px] md:text-[40px] lg:text-[50px] font-bold  text-default text-center sm:text-center md:text-left lg:text-left">Lugares Turísticos</p>
    <p class="w-[17rem] sm:w-[17rem] md:w-[27rem] lg:w-[27rem] text-center text-sm font-light">Aventúrate en Pomabamba, un destino perfecto
      para los amantes de la naturaleza y la historia, con vistas espectaculares y tradiciones vibrantes.</p>
  </div>

  <div class="mt-8">
    <div class="flex flex-row justify-center items-center gap-3 mb-3">
      <div class="relative group">
        <img class="w-[303px] h-[300px] rounded-lg" src="../../../../../assets/imgs/jancapampa1.jpg" alt="img1">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          Jancapampa es conocido por su impresionante paisaje montañoso y su majestuoso nevado.
          Es un lugar ideal para los amantes de la naturaleza y
          los paisajes andinos, con vistas que dejan sin aliento y una atmósfera de tranquilidad.
        </div>
      </div>

      <div class="relative group">
        <img class="w-[540px] h-[300px] rounded-lg" src="../../../../../assets/imgs/yayno1.jpg" alt="img2">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          Un sitio arqueológico que muestra la riqueza histórica de la región, Yayno es un lugar fascinante para explorar antiguas estructuras
          y aprender sobre las culturas que habitaron la zona. Las ruinas están rodeadas de paisajes montañosos impresionantes.
        </div>
      </div>

      <div class="relative group">
        <img class="w-[303px] h-[300px] rounded-lg" src="../../../../../assets/imgs/sky.jpg" alt="img3">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          Curayacu es conocida por su fuente de agua cristalina, que es un punto de referencia popular en la ciudad de Pomabamba.
          El lugar está rodeado por un ambiente tranquilo y pintoresco, ideal para relajarse y disfrutar del aire fresco. Un espacio atractivo,
          perfecto para los visitantes que buscan un lugar sereno para descansar y apreciar la belleza natural del entorno​
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-center items-center gap-3 mb-3">
      <div class="relative group">
        <img class="w-[590px] h-[300px] rounded-lg" src="../../../../../assets/imgs/wicrococha1.jpg" alt="img4">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            Una laguna de aguas cristalinas rodeada de verdes montañas, Wicrococha es un lugar ideal para disfrutar de
            la belleza natural y la tranquilidad.
            Es perfecta para un día de picnic o simplemente para admirar el paisaje.
        </div>
      </div>

      <div class="relative group">
        <img class="w-[280px] h-[300px] rounded-lg" src="../../../../../assets/imgs/sky.jpg" alt="img5">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          En éste lugar del mundo las poblaciones viven en contacto y comunión con la tierra. Es ella la madre
          de todos los seres que la habitamos y por lo tanto hay que honrarla y respetarla.
        </div>
      </div>

      <div class="relative group">
        <img class="w-[280px] h-[300px] rounded-lg" src="../../../../../assets/imgs/sky.jpg" alt="img6">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          En éste lugar del mundo las poblaciones viven en contacto y comunión con la tierra. Es ella la madre
          de todos los seres que la habitamos y por lo tanto hay que honrarla y respetarla.
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-center items-center gap-3">
      <div class="relative group">
        <img class="w-[680px] h-[300px] rounded-lg" src="../../../../../assets/imgs/jacabamba2.jpg" alt="img7">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          Una hermosa laguna rodeada de montañas, Jacabamba ofrece un entorno sereno y pintoresco.
          Es un lugar perfecto para aquellos que buscan escapar del bullicio y disfrutar de la naturaleza en su estado más puro.
        </div>
      </div>

      <div class="relative group">
        <img class="w-[480px] h-[300px] rounded-lg" src="../../../../../assets/imgs/bañostermales.jpg" alt="img8">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">

        </div>
      </div>
    </div>
  </div>
</div>


<!--Gastronomía local-->

<div class="py-14">
  <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row justify-center items-center gap-3 sm:gap-3 md:gap-40 lg:gap-48">
    <p class="font-dancing text-[34px] sm:text-[34px] md:text-[40px] lg:text-[50px] font-bold  text-default text-center sm:text-center md:text-left lg:text-left">Gastronomía Local</p>
    <p class="w-[17rem] sm:w-[17rem] md:w-[27rem] lg:w-[27rem] text-center text-sm font-light">Descubre la gastronomía de Pomabamba,
      un deleite para los sentidos con sabores autóctonos y auténticos que reflejan la rica herencia cultural de la región.</p>
  </div>

  <!--CARDS-->
  <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row items-center justify-center gap-7 sm:gap-7 md:gap-5 lg:gap-5 mt-8">
    <div class="w-[280px] h-[406px] rounded-lg border border-gray-200 shadow-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/cuy.JPG" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Picante de cuy</p>
      <p class="text-justify text-sm px-4"> Este plato tradicional de la región andina del Perú combina el sabor del cuy con el ají panca.
        El cuy se fríe y se adereza con ají panca, ajos y papas sancochadas, creando un plato contundente y lleno de sabor​ </p>
    </div>

    <div class="w-[280px] h-[406px]  border border-gray-200 shadow-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg " src="../../../../../assets/imgs/chichaencaldo.JPG" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Chicha en caldo</p>
      <p class="text-justify text-sm px-4">Una sopa tradicional hecha con gallina de corral o pollo
          y chicha de jora, sazonada con ají panca y maní tostado. Se sirve con papas sancochadas y pan.</p>
    </div>

    <div class="w-[280px] h-[406px] rounded-lg border border-gray-200 shadow-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/chocho.JPG" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Chocho</p>
      <p class="text-justify text-sm px-4">Un ceviche de tarwi mezclado con cebolla,
        culantro y limón, acompañado de cancha serrana y ají con huacatay. Rico en proteínas y fibras.</p>
    </div>

    <div class="w-[280px] h-[406px] rounded-lg border border-gray-200 shadow-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/caldo de cabeza.JPG" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Caldo de cabeza</p>
      <p class="text-justify text-sm px-4">Este caldo se prepara con la cabeza de cordero y es muy apreciado por sus propiedades nutritivas y
        su sabor intenso. Se sirve con papas, mote y a veces con hierbas andinas, siendo un plato reconfortante especialmente en climas fríos​</p>
    </div>

  </div>
</div>


<!--Blog post-->
<div *ngIf="mostrarSeccion" class="py-14 ">
  <p class="font-dancing text-[34px] sm:text-[34px] md:text-[40px] lg:text-[50px] font-bold pl-36  text-default text-center sm:text-center md:text-left lg:text-left">Blog Post</p>

  <div class="flex flex-row items-center justify-center gap-4">
    <div class="bg-gray-300 w-[330px] h-[270px]">
      <img class="bg-gray-300 w-[330px] h-[180px]" src="../../../../../assets/imgs/prueba.jpg" alt="">
      <p class="text-center pt-4 font-medium px-3">Pomabamba: fin de semana
        inolvidable en pareja</p>
    </div>

    <div class="bg-gray-300 w-[330px] h-[270px]">
      <img class="bg-gray-300 w-[330px] h-[180px]" src="../../../../../assets/imgs/prueba.jpg" alt="">
      <p class="text-center pt-4 font-medium px-3">Pomabamba: fin de semana
        inolvidable en pareja</p>
    </div>

    <div class="bg-gray-300 w-[330px] h-[270px]">
      <img class="bg-gray-300 w-[330px] h-[180px]" src="../../../../../assets/imgs/prueba.jpg" alt="">
      <p class="text-center pt-4 font-medium px-3">Pomabamba: fin de semana
        inolvidable en pareja</p>
    </div>
  </div>
</div>
