 <!--pORTADA-->
<div class="relative bg-gray-500 w-full h-[539px] flex flex-col justify-center">
  <img src="../../../../../assets/imgs/portada.png" class="absolute inset-0 w-full h-full object-cover opacity-70" alt="Portada">
  <div class="relative z-10 text-white pl-28">
    <p class="text-5xl md:text-7xl pb-1 font-bold">Descubre Pomabamba</p>
  </div>
</div>

<!--Datos Generales-->
<div class=" flex flex-row justify-center items-center py-10 gap-14">
  <div class="w-[40rem] h-auto">
    <p class="font-dancing text-[50px] font-bold ">Datos Generales</p>

    <div class="text-[20px]">
      <p>Ubicación: Sierra norte del Perú, en la región de Ancash</p>
      <p>Extensión: 634 km²</p>
      <p>Capital: Pomabamba (3150 msnm)</p>
      <p>Altitud: mínima: 3000 msnm, máxima: 5000 msnm (Nevado de Paccharuri)</p>
      <p>Clima: Pomabamba cuenta con un clima templado y húmedo, con temperaturas
        medias anuales que oscilan entre los 12°C (53.6°F) y 18°C (64.4°F).
        La temporada de lluvias se extiende de noviembre a marzo.</p>
    </div>
  </div>

  <img class="w-[300px] h-[350px] rounded-lg" src="../../../../../assets/imgs/ejemplo.jpg" alt="datos-generales">
</div>


<!--Cómo llegar-->
<div class=" flex flex-row justify-center items-center py-10 gap-14">
  <div class="w-[40rem] h-auto">
    <p class="font-dancing text-[50px] font-bold ">Cómo llegar</p>

    <div class="text-[20px]">
      <p>Ubicación: Sierra norte del Perú, en la región de Ancash</p>
      <p>Extensión: 634 km²</p>
      <p>Capital: Pomabamba (3150 msnm)</p>
      <p>Altitud: mínima: 3000 msnm, máxima: 5000 msnm (Nevado de Paccharuri)</p>
      <p>Clima: Pomabamba cuenta con un clima templado y húmedo, con temperaturas
        medias anuales que oscilan entre los 12°C (53.6°F) y 18°C (64.4°F).
        La temporada de lluvias se extiende de noviembre a marzo.</p>
    </div>
  </div>

  <img class="w-[300px] h-[350px] rounded-lg" src="../../../../../assets/imgs/ejemplo.jpg" alt="datos-generales">
</div>


<!--Reseña histórica-->
<div class=" flex flex-row justify-center items-center py-10 gap-14">
  <div class="w-[40rem] h-auto">
    <p class="font-dancing text-[50px] font-bold ">Reseña histórica</p>

    <div class="text-[20px]">
      <p>Ubicación: Sierra norte del Perú, en la región de Ancash</p>
      <p>Extensión: 634 km²</p>
      <p>Capital: Pomabamba (3150 msnm)</p>
      <p>Altitud: mínima: 3000 msnm, máxima: 5000 msnm (Nevado de Paccharuri)</p>
      <p>Clima: Pomabamba cuenta con un clima templado y húmedo, con temperaturas
        medias anuales que oscilan entre los 12°C (53.6°F) y 18°C (64.4°F).
        La temporada de lluvias se extiende de noviembre a marzo.</p>
    </div>
  </div>

  <img class="w-[300px] h-[350px] rounded-lg" src="../../../../../assets/imgs/ejemplo.jpg" alt="datos-generales">
</div>



<!--Actividades Culturales-->
<div class="py-10">
  <div class="flex flex-row justify-center items-center gap-48">
    <p class="font-dancing text-[50px] font-bold ">Actividades Culturales</p>
    <p class="w-96 text-center text-xs font-light">Si quieres aprender más de la cultura y estilo de vida autosuficiente
      de los Andes te recomendamos que consideres agregar algunas de estas actividades a tu estadía.</p>
  </div>

  <!--CARDS-->
  <div class="flex flex-row items-center justify-center gap-5 mt-8">
    <div class="w-[280px] h-[406px] bg-gray-400 rounded-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Tejido y teñido</p>
      <p class="text-justify text-sm px-4">Desde hace cientos de años en los andes se han teñido, tejido o hilado hermosas lanas de alpaca
        y posteriormente de oveja, Los tintes son de plantas e insectos de la zona, todo un arte para dar
        esos colores brillantes.</p>
    </div>

    <div class="w-[280px] h-[406px] bg-gray-400 rounded-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Tejido y teñido</p>
      <p class="text-justify text-sm px-4">Desde hace cientos de años en los andes se han teñido, tejido o hilado hermosas lanas de alpaca
        y posteriormente de oveja, Los tintes son de plantas e insectos de la zona, todo un arte para dar
        esos colores brillantes.</p>
    </div>

    <div class="w-[280px] h-[406px] bg-gray-400 rounded-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Tejido y teñido</p>
      <p class="text-justify text-sm px-4">Desde hace cientos de años en los andes se han teñido, tejido o hilado hermosas lanas de alpaca
        y posteriormente de oveja, Los tintes son de plantas e insectos de la zona, todo un arte para dar
        esos colores brillantes.</p>
    </div>

    <div class="w-[280px] h-[406px] bg-gray-400 rounded-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Tejido y teñido</p>
      <p class="text-justify text-sm px-4">Desde hace cientos de años en los andes se han teñido, tejido o hilado hermosas lanas de alpaca
        y posteriormente de oveja, Los tintes son de plantas e insectos de la zona, todo un arte para dar
        esos colores brillantes.</p>
    </div>

  </div>
</div>


<!--Lugares turísticos-->

<div  class="py-10">
  <div class="flex flex-row justify-center items-center gap-48">
    <p class="font-dancing text-[50px] font-bold ">Lugares Turísticos</p>
    <p class="w-96 text-center text-xs font-light">Si quieres aprender más de la cultura y estilo de vida autosuficiente
      de los Andes te recomendamos que consideres agregar algunas de estas actividades a tu estadía.</p>
  </div>

  <div class="mt-8">
    <div class="flex flex-row justify-center items-center gap-3 mb-3">
      <div class="relative group">
        <img class="w-[270px] h-[259px] rounded-lg" src="../../../../../assets/imgs/sky.jpg" alt="img1">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          En éste lugar del mundo las poblaciones viven en contacto y comunión con la tierra. Es ella la madre
          de todos los seres que la habitamos y por lo tanto hay que honrarla y respetarla. Su representación
          máxima son los Apus, montañas sagradas, ángeles guardianes.
        </div>
      </div>

      <div class="relative group">
        <img class="w-[606px] h-[259px] rounded-lg" src="../../../../../assets/imgs/sky.jpg" alt="img2">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          En éste lugar del mundo las poblaciones viven en contacto y comunión con la tierra. Es ella la madre
          de todos los seres que la habitamos y por lo tanto hay que honrarla y respetarla. Su representación
          máxima son los Apus, montañas sagradas, ángeles guardianes.
        </div>
      </div>

      <div class="relative group">
        <img class="w-[270px] h-[259px] rounded-lg" src="../../../../../assets/imgs/sky.jpg" alt="img3">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          En éste lugar del mundo las poblaciones viven en contacto y comunión con la tierra. Es ella la madre
          de todos los seres que la habitamos y por lo tanto hay que honrarla y respetarla. Su representación
          máxima son los Apus, montañas sagradas, ángeles guardianes.
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-center items-center gap-3 mb-3">
      <div class="relative group">
        <img class="w-[690px] h-[259px] rounded-lg" src="../../../../../assets/imgs/sky.jpg" alt="img4">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          En éste lugar del mundo las poblaciones viven en contacto y comunión con la tierra. Es ella la madre
          de todos los seres que la habitamos y por lo tanto hay que honrarla y respetarla. Su representación
          máxima son los Apus, montañas sagradas, ángeles guardianes.
        </div>
      </div>

      <div class="relative group">
        <img class="w-[230px] h-[259px] rounded-lg" src="../../../../../assets/imgs/sky.jpg" alt="img5">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          En éste lugar del mundo las poblaciones viven en contacto y comunión con la tierra. Es ella la madre
          de todos los seres que la habitamos y por lo tanto hay que honrarla y respetarla.
        </div>
      </div>

      <div class="relative group">
        <img class="w-[230px] h-[259px] rounded-lg" src="../../../../../assets/imgs/sky.jpg" alt="img6">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          En éste lugar del mundo las poblaciones viven en contacto y comunión con la tierra. Es ella la madre
          de todos los seres que la habitamos y por lo tanto hay que honrarla y respetarla.
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-center items-center gap-3">
      <div class="relative group">
        <img class="w-[820px] h-[259px] rounded-lg" src="../../../../../assets/imgs/sky.jpg" alt="img7">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          En éste lugar del mundo las poblaciones viven en contacto y comunión con la tierra. Es ella la madre
          de todos los seres que la habitamos y por lo tanto hay que honrarla y respetarla. Su representación
          máxima son los Apus, montañas sagradas, ángeles guardianes.
        </div>
      </div>

      <div class="relative group">
        <img class="w-[340px] h-[259px] rounded-lg" src="../../../../../assets/imgs/sky.jpg" alt="img8">
        <div class="overlay absolute inset-0 bg-black bg-opacity-60 text-white flex items-center justify-center text-center p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          En éste lugar del mundo las poblaciones viven en contacto y comunión con la tierra. Es ella la madre
          de todos los seres que la habitamos y por lo tanto hay que honrarla y respetarla. Su representación
          máxima son los Apus, montañas sagradas, ángeles guardianes.
        </div>
      </div>
    </div>
  </div>
</div>


<!--Gastronomía local-->

<div class="py-10">
  <div class="flex flex-row justify-center items-center gap-48">
    <p class="font-dancing text-[50px] font-bold ">Gastronomía Local</p>
    <p class="w-96 text-center text-xs font-light">Si quieres aprender más de la cultura y estilo de vida autosuficiente
      de los Andes te recomendamos que consideres agregar algunas de estas actividades a tu estadía.</p>
  </div>

  <!--CARDS-->
  <div class="flex flex-row items-center justify-center gap-5 mt-8">
    <div class="w-[280px] h-[406px] bg-gray-400 rounded-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Tejido y teñido</p>
      <p class="text-justify text-sm px-4">Desde hace cientos de años en los andes se han teñido, tejido o hilado hermosas lanas de alpaca
        y posteriormente de oveja, Los tintes son de plantas e insectos de la zona, todo un arte para dar
        esos colores brillantes.</p>
    </div>

    <div class="w-[280px] h-[406px] bg-gray-400 rounded-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Tejido y teñido</p>
      <p class="text-justify text-sm px-4">Desde hace cientos de años en los andes se han teñido, tejido o hilado hermosas lanas de alpaca
        y posteriormente de oveja, Los tintes son de plantas e insectos de la zona, todo un arte para dar
        esos colores brillantes.</p>
    </div>

    <div class="w-[280px] h-[406px] bg-gray-400 rounded-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Tejido y teñido</p>
      <p class="text-justify text-sm px-4">Desde hace cientos de años en los andes se han teñido, tejido o hilado hermosas lanas de alpaca
        y posteriormente de oveja, Los tintes son de plantas e insectos de la zona, todo un arte para dar
        esos colores brillantes.</p>
    </div>

    <div class="w-[280px] h-[406px] bg-gray-400 rounded-lg">
      <img class="w-[280px] h-[210px] rounded-tl-lg rounded-tr-lg" src="../../../../../assets/imgs/prueba.jpg" alt="actividades-culturales">
      <p class="text-center pt-2 font-semibold">Tejido y teñido</p>
      <p class="text-justify text-sm px-4">Desde hace cientos de años en los andes se han teñido, tejido o hilado hermosas lanas de alpaca
        y posteriormente de oveja, Los tintes son de plantas e insectos de la zona, todo un arte para dar
        esos colores brillantes.</p>
    </div>

  </div>
</div>


<!--Blog post-->
<div class="py-10 ">
  <p class="font-dancing text-[50px] font-bold pl-36 ">Blog Post</p>

  <div class="flex flex-row items-center justify-center gap-4">
    <div class="bg-gray-300 w-[330px] h-[270px]">
      <img class="bg-gray-300 w-[330px] h-[180px]" src="../../../../../assets/imgs/prueba.jpg" alt="">
      <p class="text-center pt-4 font-medium px-3">Pomabamba: fin de semana
        inolvidable en pareja</p>
    </div>

    <div class="bg-gray-300 w-[330px] h-[270px]">
      <img class="bg-gray-300 w-[330px] h-[180px]" src="../../../../../assets/imgs/prueba.jpg" alt="">
      <p class="text-center pt-4 font-medium px-3">Pomabamba: fin de semana
        inolvidable en pareja</p>
    </div>

    <div class="bg-gray-300 w-[330px] h-[270px]">
      <img class="bg-gray-300 w-[330px] h-[180px]" src="../../../../../assets/imgs/prueba.jpg" alt="">
      <p class="text-center pt-4 font-medium px-3">Pomabamba: fin de semana
        inolvidable en pareja</p>
    </div>
  </div>
</div>
