<!-- Botón para mostrar/ocultar el formulario de agregar usuario -->
<button class="border  rounded bg-purple-700" mat-button (click)="toggleAddReservationForm()">
  {{ showAddReservationForm ? 'Cancelar' : 'Agregar Reservation' }}
</button>
<!-- Formulario para agregar un nuevo usuario -->
<div *ngIf="showAddReservationForm">
  <form (ngSubmit)="addUser()">
    <div>
      <label for="startDate">startDate</label>
      <input id="startDate" [(ngModel)]="newReservation.startDate" name="startDate" type="date" required>
    </div>
    <div>
      <label for="endDate">endDate:</label>
      <input id="endDate" [(ngModel)]="newReservation.endDate" name="endDate" type="date" required>
    </div>
    <div>
      <label for="totalPrice">totalPrice:</label>
      <input id="totalPrice" [(ngModel)]="newReservation.totalPrice" name="totalPrice" required>
    </div>
    <div>
      <label for="state">state:</label>
      <input id="state" [(ngModel)]="newReservation.state" name="state" required>
    </div>
    <div>
      <label for="confirmation">confirmation:</label>
      <input id="confirmation" [(ngModel)]="newReservation.confirmation" name="confirmation" required>
    </div>
    <div>
      <label for="userId">userId:</label>
      <input id="userId" [(ngModel)]="newReservation.userId" name="userId" required>
    </div>
    <div>
      <label for="roomId">roomId:</label>
      <input id="roomId" [(ngModel)]="newReservation.roomId" name="roomId" required>
    </div>
    
    <button type="submit">Guardar</button>
  </form>
</div>


<p>reservation-a works!</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="reservationId">
      <th mat-header-cell *matHeaderCellDef> reservationId </th>
      <td mat-cell *matCellDef="let element"> {{element.reservationId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> startDate </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate|date:'fullDate'}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> endDate </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate|date}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef> totalPrice </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> state </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="confirmation">
      <th mat-header-cell *matHeaderCellDef> confirmation </th>
      <td mat-cell *matCellDef="let element"> {{element.confirmation}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> userId </th>
      <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="roomId">
      <th mat-header-cell *matHeaderCellDef> roomId </th>
      <td mat-cell *matCellDef="let element"> {{element.roomId}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td  mat-cell *matCellDef="let element">
        <button class="border rounded" mat-button (click)="editReservation(element)">Editar</button>
        <button class="border rounded" mat-button (click)="deleteReservation(element)">Eliminar</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  