<!--pORTADA-->
<!--
<div class="bg-gray-500 w-full h-[539px] flex flex-col justify-center">
  <p class="text-7xl pl-28 pb-1 font-bold">Nuestras Habitaciones</p>
</div>



-->

<!-- Portada -->
<div class="relative bg-gray-500 w-full h-[539px] flex flex-col justify-center">
  <img src="../../../../../assets/imgs/ventana.jpg" class="absolute inset-0 w-full h-full object-cover" alt="Portada">
  <div class="relative z-10 text-white pl-28">
    <p class="text-5xl md:text-7xl pb-1 font-bold">Nuestras Habitaciones</p>
  </div>
</div>

<div class="mt-14">
  <div class="grid grid-cols-1 items-center justify-center  container mx-auto my-4 gap-4 ">
    <div class="flex flex-col items-center justify-center gap-7">
      <app-room *ngFor="let room of rooms()" [room]="room"></app-room>
    </div>
  </div>
</div>
